table {
	width: 100%;
	text-align:center;
	background:#2BB046;
}

table:hover{
	color:#125228;
}
	
td:hover{
	color:red;
}

h1 { 
	padding: 3px; /*es el relleno*/
	color: #21610B; 
	font-family: Arial; 
	text-align:center;
	background: #DCE26E;
	text-shadow: 2px 2px 2px #17A82F;
	}	
	